<div id="new-bank-operation-modal" class="modal hide fade">
    <form class="modal-form form-horizontal" action="{{ url('commercial_bank_operation_new') }}" id="new-bank-operation-form" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>{% trans %}New account operation{% endtrans %}</h3>
        </div>
        <div class="modal-body">
             <input type="hidden" name="accountId" value="{{ account.id }}" />
             {{ forms.input('label', 'Operation name'|trans) }}
             {{ forms.date('operationDate', 'Operation date'|trans) }}
             {{ forms.input('operationAmount', 'Operation amount'|trans) }}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
        </div>
    </form>
</div>



<script>
$(document).ready(function(){
        $("#new-bank-operation-form").validate({
                ignore: "input[type='text']:hidden",
                rules:{
                	label:{
                                required:true
                        },
                        operationDate:{
                                required:true
                        },
                        operationAmount:{
                                required:true
                        }
                },
                errorClass: "help-inline",
                errorElement: "span",
                errorPlacement: function(error, element) {
                    element.parent().after(error);
                },
                highlight:function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('success');
                        $(element).parents('.control-group').addClass('error');
                },
                unhighlight: function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('error');
                        $(element).parents('.control-group').addClass('success');
                }
        });
});
</script>