{% block header %}

<table width="100%">
	<tbody>
		<tr>
			<td width="40%">
				{% if commercialEstimate.commercialDocument.company.logoFileName %}
					<img height="100px" src="{{ commercialEstimate.commercialDocument.company.logoFolder }}/{{ commercialEstimate.commercialDocument.company.logoFileName }}">
				{% endif %}
				<br />
			</td>
			<td width="20%">&nbsp;</td>
			<td width="40%">
				<h1>{% trans %}Estimate{% endtrans %}</h1><br>
				<strong>{% trans %}Date{% endtrans %}: </strong>{{ commercialEstimate.dateEstimate ? commercialEstimate.dateEstimate|date("d/m/Y") }}<br>
				<strong>{% trans %}Number{% endtrans %}: </strong>{{ commercialEstimate.estimationNumber }}<br>
				<strong>{% trans %}Valid until{% endtrans %}: </strong>{{ commercialEstimate.validUntil ? commercialEstimate.validUntil|date("d/m/Y") }}<br>
				<strong>{% trans %}Page{% endtrans %}: </strong>{{ numPage }} {% trans %}of{% endtrans %} {{ nbPages }}
			</td>
		</tr>
		<tr>
			<td width="40%">
				<h2>{{ commercialEstimate.commercialDocument.company.name }}</h2>
				{% spaceless %}
					{{ commercialEstimate.commercialDocument.company.address1 }}
					{% if commercialEstimate.commercialDocument.company.address1 and commercialEstimate.commercialDocument.company.address2 %} - {% endif %}
					{{ commercialEstimate.commercialDocument.company.address2 }}<br />
				{% endspaceless %}
				{{ commercialEstimate.commercialDocument.company.postalCode }} {{ commercialEstimate.commercialDocument.company.city }}
			</td>
			<td width="20%">&nbsp;</td>
			<td width="40%">
				<h2>{% trans %}Customer{% endtrans %}</h2>
				{% if commercialEstimate.commercialDocument.customerName %}
					<strong>{{ commercialEstimate.commercialDocument.customerName }}</strong><br />
					{% spaceless %}
						{{ commercialEstimate.commercialDocument.address1 }}
						{% if commercialEstimate.commercialDocument.address1 and commercialEstimate.commercialDocument.address2 %} - {% endif %}
						{{ commercialEstimate.commercialDocument.address2 }}<br />
					{% endspaceless %}
					{{ commercialEstimate.commercialDocument.postalCode }} {{ commercialEstimate.commercialDocument.city }}
				{% else %}
					<strong>{{ commercialEstimate.commercialDocument.customerUser.userLabel }}</strong><br />
					{% spaceless %}
						{{ commercialEstimate.commercialDocument.customerUser.mainContact.address1 }}
						{% if commercialEstimate.commercialDocument.customerUser.mainContact.address1 and commercialEstimate.commercialDocument.customerUser.mainContact.address2 %} - {% endif %}
						{{ commercialEstimate.commercialDocument.customerUser.mainContact.address2 }}<br />
					{% endspaceless %}
					{{ commercialEstimate.commercialDocument.customerUser.mainContact.postalCode }} {{ commercialEstimate.commercialDocument.customerUser.mainContact.city }}
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}

{% block content %}

{% set subtotal = 0 %}
{% set total = 0 %}


<table cellpadding="4" width="100%">
	<thead>
	    <tr>
	        <th style="border-bottom: 1px solid #333333;" width="10%"><strong>{% trans %}Ref.{% endtrans %}</strong></th>
	        <th style="border-bottom: 1px solid #333333;" width="50%"><strong>{% trans %}Label{% endtrans %}</strong></th>
	        <th style="border-bottom: 1px solid #333333;" width="10%" align="right"><strong>{% trans %}Unit Price{% endtrans %}</strong></th>
	        <th style="border-bottom: 1px solid #333333;" width="10%" align="right"><strong>{% trans %}Quantity{% endtrans %}</strong></th>
	        <th style="border-bottom: 1px solid #333333;" width="10%" align="right"><strong>{% trans %}Tax rate{% endtrans %}</strong></th>
	        <th style="border-bottom: 1px solid #333333;" width="10%" align="right"><strong>{% trans %}Total{% endtrans %}</strong></th>
	    </tr>
    </thead>
    <tbody>
	    {% for row in commercialEstimate.articles %}
		<tr style="background-color: {% if loop.index is odd %}white;{% else %}#F0F0F0;{% endif %}">
		    <td width="10%">{{ row.itemRef }}</td>
		    <td width="50%">{{ row.itemLabel }}<br /><small style="font-size:8pt; color:grey;">{{ row.comment|nl2br }}</small></td>
		    <td width="10%" align="right">{{ row.sellingDfUnitPrice|number_format(2, ".", "'") }}</td>
		    <td width="10%" align="right">{{ row.quantityArticle|number_format(3, ".", "'") }}</td>
		    <td width="10%" align="right">{{ row.taxRate|number_format(2, ".", "'") }} %</td>
		    <td width="10%" align="right">{{ row.totSellPriceArticleTi|number_format(2, ".", "'") }}</td>
		</tr>
		{% set subtotal = subtotal + row.totSellPriceArticleDf %}
		{% set total = total + row.totSellPriceArticleTi  %}
	  {% endfor %}
  </tbody>
</table>
<table>
	<tr>
		<td width="70%"></td>
		<td width="30%">
			<table cellpadding="4">
				<tr style="background-color: #F0F0F0;">
					<td align="right"><strong>{% trans %}Sub total{% endtrans %}: {{ subtotal|number_format(2, ".", "'") }} {{ commercialEstimate.commercialDocument.company.symbolMoney }}</strong></td>
				</tr>
				<tr style="background-color: white;">
					<td align="right"><strong>{% trans %}VAT{% endtrans %}: {{ (total - subtotal)|number_format(2, ".", "'") }} {{ commercialEstimate.commercialDocument.company.symbolMoney }}</strong></td>
				</tr>
				<tr style="background-color: #F0F0F0;">
					<td align="right"><strong>{% trans %}Total{% endtrans %}: {{ total|number_format(2, ".", "'") }} {{ commercialEstimate.commercialDocument.company.symbolMoney }}</strong></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<p>&nbsp;</p>

{% if commercialEstimate.commercialDocument.description or commercialEstimate.commercialDocument.freeComment %}
	<table cellpadding="4">
		<tr style="background-color: #F0F0F0;">
			<td>
				{% trans %}Information{% endtrans %} : {{ commercialEstimate.commercialDocument.description }}
				<div style="font-size:8pt; color:grey;">{{ commercialEstimate.commercialDocument.freeComment|nl2br }}</div>
			</td>
		</tr>
	</table>
{% endif %}

{% endblock %}

{% block footer %}

<p style="text-align: center">
{% spaceless %}
		{{ commercialEstimate.commercialDocument.company.name }} - 
		{{ commercialEstimate.commercialDocument.company.address1 }}{{ commercialEstimate.commercialDocument.company.address2 ? " - " }}
		{{ commercialEstimate.commercialDocument.company.address2 }}<br>
		{{ commercialEstimate.commercialDocument.company.postalCode }} - 
		{{ commercialEstimate.commercialDocument.company.city }}<br>
		{% if commercialEstimate.commercialDocument.company.rcs %}{% trans %}RCS{% endtrans %} : {{ commercialEstimate.commercialDocument.company.rcs }}{% endif %}
		{{ commercialEstimate.commercialDocument.company.siteWeb ? " - " }}{{ commercialEstimate.commercialDocument.company.siteWeb }}
		{{ commercialEstimate.commercialDocument.company.email ? " - " }}{{ commercialEstimate.commercialDocument.company.email }}
{% endspaceless %}
</p>

{% endblock %}
