{% import "table.twig" as articlesListTable %}
{{ articlesListTable.datatable('#articlesListTable') }}  
<form>
<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover" id="articlesListTable">
   <thead>
       <tr>
           <th>{% trans %}Sel{% endtrans %}</th>
           <th>{% trans %}Ref{% endtrans %}</th>
           <th>{% trans %}Designation{% endtrans %}</th>
           <th>{% trans %}Amount without taxes{% endtrans %}</th>
       </tr>
   </thead>
   <tbody>
      {% for row in articlesList %}
           <tr>
               <td><input type="text" size="5" style="width: auto;" placeholder="0" name="selected-{{ row.id }}" value=""></td>
               <td>{{ row.manufacturerRef }}</td>
               <td>{{ row.designation }}</td>
               <td>{{ row.sellingPriceDf|number_format(2) }}</td>                          
           </tr>
     {% endfor %}
   </tbody>
</table>
</form>