{% extends "Commercial/common.twig" %}

{% set title = {
                'title': "Articles list"|trans,
                'help': "Manage the list of articles usable for your sales documents."|trans} %}

{% set sidebarActivated = true %}
{% block sidebar %}
  {% include 'sidebar.twig' %}
{% endblock %}


{% block content %}{{ parent() }}
{% set editUrl = url('commercial_articles_edit', {"Id" : "0"} ) %}
{% set editUrl = editUrl|truncate(editUrl|length -1, false, '') %}

<script type="text/javascript">
    function delete_article(id) {
        bootbox.confirm("{% trans %}Are you sure that you want to delete this article ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
            if(result) window.location.href="{{ url('commercial_articles_del', {"Id":''}) }}" + id;
        });
    }
    $(function() {
        IgestisSimpleDataTable($("#table_data"), {
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{{ url('commercial_articles_search') }}",
            "aoColumns" : [
                null, // Reference
                null, // Designation
                null, // Buying price
                null, // Selling price
                {"bSortable": false}, // Id
                
            ],
            "aaSorting" : [[2, "desc"]],
            "fnRowCallback" : function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                // Generate buttons  
                
                $("td:eq(4)", nRow).html(
                    '<a class="btn btn-default" href="{{ editUrl }}'+ aData[4] + '"><i class="icon-eye-open"></i> View file</a>'
                ); 
            }
        });
    })
      

</script>

{# start #}
<div class="row-fluid" align="right">
    <a href="{{ url('commercial_articles_new') }}" class="btn btn-success btn-small"><i class="icon-plus-sign icon-white"></i> {% trans %}Add new article{% endtrans %}</a>
</div>
<br />

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover" id="table_data">
    <thead>
        <tr>
            <th>{% trans %}Ref{% endtrans %}</th>
            <th>{% trans %}Designation{% endtrans %}</th>
            <th>{% trans %}Purchasing price{% endtrans %}</th>
            <th>{% trans %}Selling price{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
       {% for row in data_table %}
            <tr>
                <td>{{ row.companyRef }}</td>
                <td>{{ row.designation }}</td>
                <td class="hidden-phone">{{ row.purchasingPriceDf }}</td>
                <td class="hidden-phone">{{ row.sellingPriceDf }}</td>
                <td>
                    <a href="{{ url('commercial_articles_edit', {'Id':row.id}) }}" class="btn btn-mini a-visible-line-on-over">
                        <i class="icon-edit"></i> {% trans %}Edit{% endtrans %}
                    </a>
                    <a href="javascript:delete_article('{{ row.id }}')" class="btn btn-danger btn-mini a-visible-line-on-over">
                        <i class="icon-trash icon-white"></i> {% trans %}Delete{% endtrans %}
                    </a>
                </td>
            </tr>
      {% endfor %}
    </tbody>
</table>
{# End #}

        
{% endblock %}
