{% extends "Commercial/common.twig" %}

{% set title = {
                'title': "Edit a bank operation"|trans,
                'help': "Fill all information about the operation"|trans} %}

{% block content %}{{ parent() }}

<div class="well">
    <fieldset>
    	<form class="form-horizontal allow-to-quit">
	        <legend>{% trans %}Bank operation information{% endtrans %}</legend>
	        <div class="row-fluid">
	            <div class="span6">      
	                <p>
	                	{{ forms.text(operation.label, "Operation name"|trans) }}
	                	{{ forms.text(operation.operationDate|date("d/m/Y"), "Operation date"|trans) }}
	                	{{ forms.text(operation.operationAmount|number_format(2), "Operation amount"|trans) }}
	                    <input type="hidden" id="operationAmount" value="{{ operation.operationAmount }}" />
	                </p>
	            </div>
	            
	            <div class="span6">           
	                <p>
	                	{{ forms.text(operation.operationRef, "Import reference"|trans) }}
	                    {{ forms.text(operation.importDate|date("d/m/Y"), "Import date"|trans) }}
	                    {{ forms.switchbox('notAssignable', "Operation status"|trans, operation.notAssign, null, null, null, "Not assignable"|trans, "Assignable"|trans) }}
	                </p>
	            </div>
	        </div>
        </form>
    </fieldset>
</div>

{% if sameAmoutProviderInvoicesList|length or sameAmoutSellingInvoicesList|length %}

{% import "table.twig" as table_data %}
{{ table_data.datatable('#sameAmountsInvoices') }}   

<div class="well" id="assoc-part">
	<div class="row-fluid">
		<div class="span12">
			<legend>{% trans %}Founded invoices with same amount{% endtrans %}</legend>            
            
			<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover" id="sameAmountsInvoices">
			    <thead>
			        <tr>
			            <th>{% trans %}Sel.{% endtrans %}</th>
			            <th>{% trans %}Contact{% endtrans %}</th>
                        <th>{% trans %}Date{% endtrans %}</th>
			            <th>{% trans %}Invoice number{% endtrans %}</th>                        
			            <th>{% trans %}Amount{% endtrans %}</th>
			            <th>{% trans %}Action{% endtrans %}</th>
			        </tr>
			    </thead>
			    <tbody>
                   {% set assocProviderInvoiceId = [] %}
                   {% set assocSellingInvoiceId = [] %}     
                   {%for row in operation.assocs %}
                        {% set assocProviderInvoiceId = assocProviderInvoiceId|merge([row.providerInvoice.id]) %}
                        {% set assocSellingInvoiceId = assocSellingInvoiceId|merge([row.invoice.id]) %}
                   {% endfor %}
                        
			       {% for row in sameAmoutProviderInvoicesList %}
			            <tr>
                            <td><input data-amount="{{ -1 * row.amountTi }}" type="checkbox" {{ row.id in assocProviderInvoiceId ? 'checked="checked"': '' }} name="selected-provider-invoices[]" value="{{ row.id }}" /></td>
			                <td>{{ row.providerUser.userLabel }}</td>
                            <td>{{ row.invoiceDate ? row.invoiceDate|date("d/m/Y") : "" }}</td>
			                <td>{{ row.invoiceNum }}</td>
                            <td>{{ row.amountTi|number_format(2) }}</td>
			                <td> 			                    
                                <a href="{{ url("commercial_provider_invoices_download", {"Id" : row.id, "ForceDl" : 1 }) }}" class="btn btn-mini a-visible-line-on-over">
			                        <i class="icon-download icon-white"></i> {% trans %}Download{% endtrans %}
			                    </a>
			                </td>
			            </tr>
			      {% endfor %}
                        
                  {% for row in sameAmoutSellingInvoicesList %}
			            <tr>
			                <td><input data-amount="{{ row.invoicesType == "credits" ? row.invoiceTotalTi * -1 : row.invoiceTotalTi }}" type="checkbox" {{ row.id in assocSellingInvoiceId ? 'checked="checked"': '' }} name="selected-invoices[]" value="{{ row.id }}" /></td>
			                <td>{{ row.commercialDocument.customerUser.userLabel }}</td>
                            <td>{{ row.invoicesDate ? row.invoicesDate|date("d/m/Y") : "" }}</td>
			                <td>{{ row.invoiceNumber }}</td>
			                <td>{{ row.invoiceTotalTi|number_format(2) }}</td>
			                <td> 			                    
                                <a href="{{ url('commercial_invoice_dl_doc', {"Id":row.id, "ForceDl" : 1}) }}" class="btn btn-mini a-visible-line-on-over">
			                        <i class="icon-download icon-white"></i> {% trans %}Download{% endtrans %}
			                    </a>
			                </td>
			            </tr>
			      {% endfor %}
			    </tbody>
			</table>
		</div>
	</div>
</div>

<div class="row-fluid">
    <div class="span12" style="text-align: center;">
        <strong>{% trans %}OR{% endtrans %}</strong>
    </div>
</div>

{% endif %}



<div class="well" id="manual-part">
	<legend>{% trans %}Amount details{% endtrans %}</legend>
    
    <div class="row-fluid" align="right">
        <button onclick="javascript:addLine();" class="btn btn-success btn-small">{% trans %}Assign this operation manually{% endtrans %}</button>
    </div>
    <br />
            
	<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover" id="bankOperationAssocs">
	    <thead>
	        <tr>
	            <th>{% trans %}Contact{% endtrans %}</th>
	            <th>{% trans %}Amount{% endtrans %}</th>
	            <th>{% trans %}Action{% endtrans %}</th>
	        </tr>
	    </thead>
	    <tbody>
            <tr id="new-line-template" style="display:none;">
                <td>{{ forms.select('associatedUser[]', 'Associated user'|trans, usersList, -1, 'id', 'userLabel', null, null, null, "required") }}</td>
                <td>{{ forms.input('amount[]', 'Amount'|trans) }}</td>
                <td>&nbsp;</td>
            </tr>
            
            
	       {% for row in operation.assocs if row.concernedUser %}
	            <tr>
                    <td>{{ forms.select('associatedUser[]', 'Associated user'|trans, usersList, row.concernedUser.id, 'id', 'userLabel', null, null, null, "required") }}</td>
                    <td>{{ forms.input('amount[]', 'Amount'|trans, row.amount) }}</td>
	                <td>                            
	                    <button onclick="javascript:removeLine(this);" class="btn btn-danger btn-mini">
	                        <i class="icon-fire icon-white"></i> {% trans %}Remove{% endtrans %}
	                    </button>
	                </td>
	            </tr>
	      {% endfor %}
	    </tbody>
	</table>
</div>



<div class="well">
    <div class="row-fluid"> 
            <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
            <button type="submit" class="btn save-and-next">{% trans %}Save and next operation{% endtrans %}</button>
            <input class="btn" type="button" value="{% trans %}Cancel{% endtrans %}" onclick="javascript:history.go(-1);return true;">    
    </div>
    
     

    <script>
        $(function() {
            $("#id-notAssignable").on("change", function() {
                if($(this).is(':checked')) {
                    $("#manual-part, #assoc-part").slideUp();
                }
                else {
                    $("#manual-part, #assoc-part").slideDown();
                }
           });
           
           if($("#id-notAssignable").is(':checked')) {
               $("#manual-part, #assoc-part").hide();
           }
        
           $('button[type=submit]').unbind("click").bind("click", function(e) {
               e.preventDefault();
               e.stopPropagation();
               
               var dataToSend = "";
               if($("#assoc-part").length === 0 || $("#assoc-part").hasClass('disabled-stripe')) {
                   dataToSend = $("#manual-part input, #manual-part select").serialize();
               }
               else {
                   if($('#sameAmountsInvoices').length) dataToSend = $('input[type=checkbox]', $('#sameAmountsInvoices').dataTable().fnGetNodes()).serialize();
               }
               
               if($("#id-notAssignable").is(":checked")) {
                   dataToSend += "&notAssignable=1";
               }
               
               if(!dataToSend) dataToSend = "post=1";
               if($(this).hasClass('save-and-next')) {
                   dataToSend += "&next=1";
               }
               
               var action = function() {  
                   $.ajax({
                        url: window.location.href,
                        dataType:'json', //type json
                        data: dataToSend,
                        cache: false,
                        type: "POST",
                        success: function(result) {
                            igestisParseJsonAjaxResult(result);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            bootbox.alert(jqXHR.responseText);   
                        }
                    });
               };
               
               if($("#id-notAssignable").is(":checked")) {
                    bootbox.confirm("{% trans %}Are you sure that you want not to assign this operation ? Every assigned row will be reseted{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
                        if(result) action();
                    });
               }
               else {
                   var balance = parseFloat($("#operationAmount").val().replace(',', '.')).toFixed(2);
                   var assocs = 0;
                   
                   if($('#sameAmountsInvoices').length) {
                       $('input[type=checkbox]', $('#sameAmountsInvoices').dataTable().fnGetNodes()).each(function() {
                            if(!$(this).is(":checked")) return;
                            assocs += parseFloat($(this).data("amount").replace(',', '.'));
                       });
                   }
                   
                   $("#manual-part [name^='amount']").each(function() {
                       var val = parseFloat($(this).val());
                       assocs += (isNaN(val) ? 0 : val);
                   });
                   
                   assocs = assocs.toFixed(2);
                   if(balance - assocs !== 0) {
                       bootbox.confirm("{% trans %}The assigned amounts does not match the operation amount. Do you want to validate anyway ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
                           if(result) action();
                       });
                   }
                   else action();
               }
           }); 
        });
    </script>
</div>



<script>
    
var enableAssocPart = function() {
    $("#assoc-part").removeClass("disabled-stripe");
    $("#assoc-part").find("input, button").attr("disabled", false).removeClass("disabled");    

};

var enableManualPart = function() {
    $("#manual-part").removeClass("disabled-stripe");
    $("#manual-part").find("input, button").attr("disabled", false).removeClass("disabled");
    $("#manual-part").find(".select2").select2("enable");

};

var dislableManualPart = function() {
    $("#manual-part").addClass("disabled-stripe");
    $("#manual-part").find("input, button").attr("disabled", true).addClass("disabled");
    $("#manual-part").find(".select2").select2("disable");
    enableAssocPart();

};
var disableAssocPart = function() {    
    $("#assoc-part").addClass("disabled-stripe");
    $("#assoc-part").find("input, button").attr("disabled", true).addClass("disabled");  
    enableManualPart();
};

var manualPartKeyUp = function() {
    var $inputs = $("#manual-part").find("input");
    
    var changeFormEvent = function () {
        var contentFound = false;
        $inputs.each(function() {
            if($(this).val()) contentFound = true;
        });
        if(contentFound) {
            disableAssocPart();
        }
        else {
            enableAssocPart();
        }
    };
        
    $inputs.unbind("keyup").bind("keyup", changeFormEvent);
    changeFormEvent();
};  

var removeLine  = function(object) {    
    
    if($("assoc-part").hasClass('disabled-stripe')) return;

    $(object).parents("tr").remove();
    manualPartKeyUp();
};

var addLine = function() {
    if($("assoc-part").hasClass('disabled-stripe')) return;

    var $newLine = $("#new-line-template").clone();
    $("#bankOperationAssocs").append($newLine);
    
    $newLine.find("input").val('');
    $newLine.find("button").remove();
    $newLine.find("td:last").append(
            $('<button href="javascript:;" onclick="javascrip:removeLine(this)" class="btn btn-danger btn-mini"><i class="icon-fire icon-white"></i> {% trans %}Remove{% endtrans %}</button>')
    );
        
    $newLine.find(".select2").select2('val', -1);
    $newLine.find(".select2-container").remove();
    $newLine.find("select").val(-1).show();
    $newLine.find("select").select2({
         allowClear: true
	});
    $newLine.show();
    manualPartKeyUp();
};

{% if sameAmoutProviderInvoicesList|length or sameAmoutSellingInvoicesList|length %}
$(function() {
    var $sameAmountsInvoices = $('input[type=checkbox]', $('#sameAmountsInvoices').dataTable().fnGetNodes());
    $sameAmountsInvoices.unbind('click').bind('click', function() {
        $sameAmountsInvoices.not($(this)).attr("checked", false);
        if($(this).is(":checked")) {
            dislableManualPart();
        }
        else {
            enableManualPart();
        }
    });
    
    manualPartKeyUp();
    if($sameAmountsInvoices.is(":checked")) {
        dislableManualPart();
    }
        
});
{% endif %}

</script>
{% endblock %}
