{% extends "Commercial/common.twig" %}

{% set title = {
                'title': "Projects"|trans,
                'help': "Please find the list of the projects shared with you."|trans} %}

{% set sidebarActivated = true %}
{% block sidebar %}
  {% include 'sidebar.twig' %}
{% endblock %}


{% block content %}{{ parent() }}

<div class="well">
    <form class="form-search allow-to-quit" action="" method="get">
        <fieldset>
            <legend>{% trans %}Filter the projects{% endtrans %}</legend>
            <div class="row-fluid">
                <div class="span6">
                    {{ forms.select('status', 'Status'|trans, { 0 : {'value': 0, 'label' : "Opened"|trans},  1 : {'value': 1, 'label' : "Closed"|trans},  2 : {'value': -1, 'label' : "All"|trans} }, searchForm.status, 'value', 'label') }}
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="Module" value="Commercial" />
                <input type="hidden" name="Action" value="projects_index" />
                <button type="submit" class="btn btn-primary"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</button>
            </div>
        </fieldset>

    </form>
</div>
<br />

{# start #}
<div class="row-fluid" align="right">
    <a href="javascript:;" onclick="javascript:create_or_duplicate_project(null);" class="btn btn-success btn-small"><i class="icon-plus-sign icon-white"></i> {% trans %}New project{% endtrans %}</a>
</div>
<br />

{% import "table.twig" as table_data %}
{{ table_data.datatable() }}

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover" id="table_data">
    <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
       {% for row in data_table %}
            {% if not row.clientVisible %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>
                        <a href="{{ url('commercial_project_show', {'Id':row.id}) }}" class="btn btn-mini a-visible-line-on-over">
                            <i class="icon-eye-open"></i> {% trans %}View{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endif %}
      {% endfor %}
    </tbody>
</table>
{# End #}



{% endblock %}
