{% extends "Commercial/common.twig" %}

{% set title = {
                'title': "Export the invoices"|trans,
                'help': 'Select the invoices that you want to export and click "Eport"'|trans} %}


{% set sidebarActivated = true %}
{% block sidebar %}
  {% include 'sidebar.twig' %}
{% endblock %}

{% block content %}{{ parent() }}


<div class="well">
    <form class="form-search allow-to-quit" action="" method="get">
        <fieldset>
            <legend>{% trans %}Filter the invoices{% endtrans %}</legend>
            <div class="row-fluid">
                <div class="span6">
                    {{ forms.select('exported', 'Exported'|trans, { 0 : {'value': 0, 'label' : "No"|trans},  1 : {'value': 1, 'label' : "Yes"|trans},  2 : {'value': -1, 'label' : "All"|trans} }, searchForm.exported, 'value', 'label') }}
                </div>                
            </div>
            <div class="form-actions">
                <input type="hidden" name="Module" value="Commercial" />
                <input type="hidden" name="Action" value="export_index" />  
                <button type="submit" class="btn btn-primary"><i class="icon-search"></i> {% trans %}Search{% endtrans %}</button>
            </div>
        </fieldset>

    </form>
</div>
<br />

<div class="row-fluid">
    <div class="span12">
        <a href="javascript:;" data-checked="true" onclick="javascript:igestisCommercial.checkUncheckAll(this);" class="btn btn-success">Check / Uncheck all</a><br /><br />
    </div>
</div>


{% import "table.twig" as table_data %}
{{ table_data.datatable() }}    

<div class="row-fluid">
    <div class="span12">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover" id="table_data">
            <thead>
                <tr>
                    <th>{% trans %}Sel{% endtrans %}</th>
                    <th>{% trans %}Third party{% endtrans %}</th>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Paid{% endtrans %}</th>
                    <th>{% trans %}Exported{% endtrans %}</th>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <th>{% trans %}Document number{% endtrans %}</th>
                    <th>{% trans %}Document amount{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>        

              {% for row in invoicesList %}
                    <tr>
                        <td><input checked="checked" type="checkbox" name="export[]" value="{{ row.transactionType }}-{{ row.documentId }}" /></td>
                        <td>{{ row.user }}</td>
                        <td>{{ row.transactionDate|date("d/m/Y") }}</td>
                        <td>{{ row.paid ? 'Yes' : 'No' }}</td>
                        <td>{{ row.eported ? 'Yes' : 'No' }}</td>
                        <td>{% if row.transactionType == "selling_document" %}
                                        {{ row.totalTi < 0 ? 'Credit note'|trans : 'Invoice'|trans }} 
                                {% else %}
                                        {{ row.totalTi > 0 ? 'Credit note'|trans : 'Invoice'|trans }} 
                                {% endif %}
                                ({{ row.transactionType == "selling_document" ? 'Sales'|trans : 'Order'|trans }})
                        </td>
                        <td>{{ row.documentNumber }}</td>
                        <td  class="{{ row.totalTi < 0 ? 'negative' : 'positive' }}">{{ row.totalTi }}</td>
                        <td>
                            {% if row.transactionType == "selling_document" %}
                            <a class="btn btn-mini a-visible-line-on-over" href="{{ url('commercial_invoice_dl_doc', {"Id":row.documentId, "ForceDl" : 0}) }}">
                                <i class="icon-eye-open"></i> {% trans %}View{% endtrans %}
                            </a>
                            {% else %}
                                <a class="btn btn-mini a-visible-line-on-over" href="{{ url('commercial_provider_invoices_download', {"Id":row.documentId, "ForceDl" : 0}) }}">
                                    <i class="icon-eye-open"></i> {% trans %}View{% endtrans %}
                                </a>
                            {% endif %}

                        </td>
                    </tr>
              {% endfor %}


            </tbody>
        </table>
    </div>
</div>
<form id="export-form" action="{{ url('commercial_export_generate') }}" method="post">
    <div class="form-actions">
        <input type="hidden" name="dataToSend" id="dataToSend" value="" />
        <button type="submit" id="export-btn" class="btn btn-primary"><i class="icon-list"></i> {% trans %}Export{% endtrans %}</button>
    </div> 
</form>
{# End #}


<script>
    $(function() {
        
        $("#export-form").submit(function() {           
           var currentForm = this;
           
           //var checkedFields = $('input[type=checkbox]:checked', $('#table_data').dataTable().fnGetNodes()); 
           var checkedFields = $('#table_data').dataTable().$("input:checked", {"page": "all", "filter":"applied"});
           if(checkedFields.length === 0) {
               bootbox.alert('{{ 'Thank to select at least one invoice before to click the "export" button'|trans|e('js') }}');
           }
           else {
               bootbox.confirm("{% trans %}Are you sure that you want to export these invoices ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
                  if(result) {
                      $("#dataToSend").val(checkedFields.serialize());
                      currentForm.submit();
                  }
               });
           }
           
           return false;
        });   
        
       
    });
</script>

{% include 'Commercial/modals/bankOperationNew.twig' %}
        
{% endblock %}
